.idea/*
.trae/*
.vscode/*
.tool-versions
./contracts/output.json
./node_modules/*
state
coverage-report
.DS_Store
node_modules
build
cache
artifacts
out
broadcast
coverage
logs/
test-results/
tools/ju-cli.exe
tools/ju-cli
tools/*.json
tools/cmd/*.json
commands.sh
lcov.info
coverage*
