.idea/*
.trae/*
.vscode/*
.tool-versions
./contracts/output.json
./node_modules/*
state
coverage-report
script/integration/generated/
.DS_Store
node_modules
build
cache
artifacts
out
broadcast
logs/
test-results/
tools/ju-cli.exe
tools/ju-cli
tools/*.json
commands.sh